@import '../../utils/variables';

.services {
  width: 100%;
  height: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  scroll-snap-align: start;
  gap: 100px;
  padding: 200px 0;

  &-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1rem;

    &--card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 320px;
      height: 375px;
      scale: 1;
      opacity: 0;
      transition: all calc($golden-ratio-time / 4)
        ease-in-out;
      position: relative;
      background: linear-gradient(
        to bottom,
        $primary-color,
        transparent
      );

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 321px;
        height: 376px;
        border-radius: 0.25rem;
        background: linear-gradient(
          180deg,
          $highlight-color-300,
          transparent
        );
        background-position: 100% 100%;
        z-index: -1;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0.5px;
        left: 0.5px;
        width: 320px;
        height: 375px;
        border-radius: 0.25rem;
        background: linear-gradient(
          180deg,
          $primary-color,
          $primary-color
        );
        z-index: -1;
      }

      &-top {
        height: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
          font-size: 40px;
        }

        svg {
          margin-bottom: 1rem;
          rotate: 0;
          scale: 1;
          transition: all calc($golden-ratio-time / 4)
            ease-in-out;

          path {
            stroke: none;
          }
        }
      }

      &-bottom {
        height: 45%;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        p {
          width: 90%;
          text-align: center;
          filter: brightness(0.8);
          transition: filter calc($golden-ratio-time / 4)
            ease-in-out;
        }
      }

      &:hover {
        scale: 1.025;
        transition: all calc($golden-ratio-time / 4)
          ease-in-out;

        .services {
          &-list {
            &--card {
              &-top {
                svg {
                  rotate: 360deg;
                  scale: 1.2;
                  transition: all
                    calc($golden-ratio-time / 4) ease-in-out;
                }
              }

              &-bottom {
                p {
                  filter: brightness(1);
                  transition: filter
                    calc($golden-ratio-time / 4) ease-in-out;
                }

                button {
                  scale: 0.9;
                  border: none;
                }
              }

              &::before {
                background-position: 200% 200%;
              }
            }
          }
        }
      }
    }
  }
}

.show-cards {
  animation: fade-in calc($golden-ratio-time / 2)
    ease-in-out forwards;

  .services-list--card {
    animation: fade-in calc($golden-ratio-time / 2)
      ease-in-out forwards;
  }

  .services-list--card:nth-child(1) {
    animation-delay: calc($golden-ratio-time / 20);
  }

  .services-list--card:nth-child(2) {
    animation-delay: calc($golden-ratio-time / 12);
  }

  .services-list--card:nth-child(3) {
    animation-delay: calc($golden-ratio-time / 4);
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .services {
    width: 100%;
    height: fit-content;
    padding-top: 60px;
    gap: 1rem;
    align-items: flex-start;

    &-list {
      width: fit-content;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding: 1rem 0;
      gap: 4rem;

      &--card {
        width: 300px;
        height: 350px;
      }
    }
  }
}

/* Tablets (landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: 'landscape') and (-webkit-min-device-pixel-ratio: 1) {
  .services {
    &-list {
      padding: 1rem 0;
      gap: 2rem;

      &--card {
        &-bottom {
          p {
            width: 100%;
          }
        }
      }
    }
  }
}

/* Tablets (portrait) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: 'portrait') and (-webkit-min-device-pixel-ratio: 1) {
  .services {
    &-list {
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 1rem 0;
      gap: 2rem;

      &--card {
        width: 45%;

        &-bottom {
          p {
            width: 100%;
          }
        }
      }
    }
  }
}
