@import '../../utils/variables';

.loader {
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  z-index: 5;
}

.hidden {
  animation: scale-out calc($golden-ratio-time) ease-in-out;
  z-index: -1;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .loader {
    flex-direction: column;
  }
}
