@import '../../utils/variables';

.loader {
  width: 100dvw;
  height: 100dvh;
  z-index: 5;

  &-right,
  &-left {
    &--top,
    &--bottom {
      width: 50%;
      height: 50%;
      position: absolute;
      background-color: $primary-color;
    }
  }

  &-right {
    &--top {
      top: 0;
      right: 0;
    }

    &--bottom {
      bottom: 0;
      right: 0;
    }
  }

  &-left {
    &--top {
      top: 0;
      left: 0;
    }

    &--bottom {
      bottom: 0;
      left: 0;
    }
  }
}

.hidden {
  animation: scale-out calc($golden-ratio-time) ease-in-out
    forwards;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .loader {
    flex-direction: column;
  }
}
