@import '../../utils/variables.scss';

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $primary-color;
  scale: 1 0;
  z-index: -1;

  .container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  &-links {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    height: 300px;

    &--item {
      height: 60px;
      clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);

      &-container {
        height: 100%;
        translate: 0 100%;
        display: flex;
        align-items: center;
      }
    }
  }

  &-social {
    height: 50px;
    width: 80%;

    .social {
      flex-direction: row;
    }
  }
}

.show-menu {
  animation: scaley-in calc($golden-ratio-time / 8) ease-out
    forwards;

  .menu-links {
    &--item {
      &-container {
        animation: slidey-in calc($golden-ratio-time / 4)
          ease-in-out forwards;
      }
    }
  }
}

.hide-menu {
  animation: scaley-out calc($golden-ratio-time / 4)
    ease-in-out forwards;

  .menu-links {
    &--item {
      &-container {
        animation: slidey-out calc($golden-ratio-time / 8)
          ease-in-out forwards;
      }
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .menu {
    &-links {
      &--item {
        a {
          font-size: $heading-three-size;
        }
      }
    }
  }
}
