.menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  background-color: var(--color-bg-default);
  z-index: 10;

  .container {
    max-width: unset;
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  &-links {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    height: 300px;

    &--item {
      height: 60px;
      clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);

      &-container {
        height: 100%;
        translate: 0 100%;
        display: flex;
        align-items: center;

        a {
          font-size: 2.5rem;
        }
      }
    }
  }

  &-social {
    height: 50px;
    width: 80%;

    .social {
      flex-direction: row;
    }
  }
}

.show-menu {
  animation-name: scaley-fade-in;

  .menu-links {
    &--item {
      &-container {
        animation-name: slidey-in;
      }
    }
  }
}

.hide-menu {
  animation-name: scaley-fade-out;
  transform-origin: top;

  .menu-links {
    &--item {
      &-container {
        animation-name: slidey-out;
      }
    }
  }
}
