.section-title {
  text-transform: uppercase;
  scale: 0 1;
  color: var(--color-text-brand);
  font-weight: 300;
  letter-spacing: 0.25rem;
  filter: brightness(1);
  transition-duration: calc(var(--animation-base-time) / 4);

  &:hover {
    filter: brightness(1.75);
    transition-duration: calc(var(--animation-base-time) / 4);
  }
}

.show-section-title {
  animation-name: scaley-fade-in;
}
