@import '../../utils/variables';

.hero-gradient {
  width: 100dvw;
  height: 680px;
  background: linear-gradient(
    to bottom,
    rgba(#231521, 0.3),
    transparent
  );
  z-index: 1;
}

.hero-background {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;

  img {
    width: 100%;
    transform: skew(0, 0) scale(1.5);
    transition: transform calc($golden-ratio-time / 8)
      ease-out;
    filter: contrast(100%);
    animation: twinkle-image calc($golden-ratio-time * 2)
      ease-in-out infinite;
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 650px;
  position: relative;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 100px;
  z-index: 2;

  &-triangle {
    position: relative;
    translate: 0 -50px;
    scale: 0.9;
    height: 620px;

    &--normal,
    &--psych,
    &--shapes,
    &--bg {
      position: absolute;
      top: 45%;
      left: 50%;
      translate: -50% -50%;
    }

    &--normal {
      width: 550px;
      opacity: 1;
      animation: fade-loop calc($golden-ratio-time * 4)
        linear infinite;
      z-index: 2;
    }

    &--psych {
      width: 550px;
      z-index: 1;
      opacity: 0.5;
    }

    &--shapes {
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      overflow: hidden;
      position: absolute;
      top: 25%;
      left: -30%;

      img {
        opacity: 0.3;
        scale: 1.3;
        rotate: 5deg 5deg;
        animation: shapes-loop calc($golden-ratio-time * 4)
          linear infinite;
      }
    }

    &--bg {
      position: absolute;
      width: 400px;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
    }

    .eye {
      position: relative;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      width: 200px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 50%;
        z-index: 2;
        opacity: 0.5;
        rotate: -360deg;
        scale: 1;
        filter: contrast(100%);
      }

      &-pupil {
        position: absolute;
        width: 40px;
        height: 40px;
        transform: scale(1) skew(2deg, 2deg)
          translate(0, -15px);
        transition: all calc($golden-ratio-time / 8)
          ease-out;
        border-radius: 50%;
        background-color: $highlight-color;
        z-index: 1;
      }
    }
  }

  &-title {
    position: absolute;
    bottom: 0;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    z-index: 3;

    &--top {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

      h1:first-child,
      h1:last-child {
        translate: 0 100%;
        opacity: 0;
        animation: slidey-in-fade
          calc($golden-ratio-time / 16) ease-in-out forwards;
        animation-delay: $golden-ratio-time;
      }

      h1:last-child {
        color: $secondary-color;
        transition: color calc($golden-ratio-time / 8)
          ease-in;

        &:hover {
          color: $highlight-color;
          transition: color calc($golden-ratio-time / 8)
            ease-in;
        }
      }
    }

    h3 {
      font-size: 20px;
      line-height: 35px;
      font-weight: 300;
      font-family: $secondary-font-family;
      margin-top: 1rem;
      opacity: 0;
      animation: fade-in calc($golden-ratio-time / 16)
        ease-in-out forwards;
      animation-delay: $golden-ratio-time;
    }
  }

  &-social {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 180px;
    opacity: 0;
    animation: fade-in calc($golden-ratio-time / 16) ease-in
      forwards;
    animation-delay: $golden-ratio-time;
  }

  &-scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    translate: 25px -25px;
    opacity: 0;
    animation: fade-in calc($golden-ratio-time / 16) ease-in
      forwards;
    animation-delay: $golden-ratio-time;
  }
}

.show-hero {
  display: flex;
}

.focus-bg {
  img {
    transform: skew(20deg, 0deg) scale(1.2);
    transition: transform calc($golden-ratio-time / 8)
      ease-out;
  }
}

.focus-eye {
  animation: focus-eye calc($golden-ratio-time) ease-out
    infinite;
}

.unfocus-eye {
  animation: unfocus-eye calc($golden-ratio-time) ease-out 1;
}

.focus-pupil {
  animation: focus-pupil calc($golden-ratio-time / 8)
    ease-out forwards;
}

.unfocus-pupil {
  animation: unfocus-pupil calc($golden-ratio-time / 8)
    ease-out forwards;
}

@keyframes twinkle-image {
  0% {
    filter: contrast(100%);
  }

  50% {
    filter: contrast(150%);
  }

  100% {
    filter: contrast(100%);
  }
}

@keyframes fade-loop {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shapes-loop {
  0% {
    rotate: 0 0;
    scale: 1;
  }

  50% {
    rotate: 5deg 5deg;
    scale: 1.2;
  }

  100% {
    rotate: 0 0;
    scale: 1;
  }
}

@keyframes focus-eye {
  0% {
    filter: contrast(100%);
    transform: scale(1) rotate(-360deg);
  }

  50% {
    filter: contrast(150%);
    transform: scale(2) rotate(0deg);
  }

  100% {
    filter: contrast(100%);
    transform: scale(1) rotate(-360deg);
  }
}

@keyframes unfocus-eye {
  0% {
    filter: contrast(150%);
    transform: scale(1.75) rotate(0deg);
  }

  100% {
    filter: contrast(100%);
    transform: scale(1) rotate(-360deg);
  }
}

@keyframes focus-pupil {
  0% {
    transform: scale(1) translate(0, -15px) skew(2deg, 2deg);
  }

  100% {
    transform: scale(1.25) translate(-10px, 0px)
      skew(10deg, 2deg);
    -webkit-box-shadow: 10px 0px 77px 14px
      rgba(181, 181, 181, 1);
    -moz-box-shadow: 10px 0px 77px 14px
      rgba(181, 181, 181, 1);
    box-shadow: 10px 0px 77px 14px rgba(181, 181, 181, 1);
  }
}

@keyframes unfocus-pupil {
  0% {
    transform: scale(1.25) translate(-10px, 0px)
      skew(10deg, 2deg);
    -webkit-box-shadow: 10px 0px 77px 14px
      rgba(181, 181, 181, 1);
    -moz-box-shadow: 10px 0px 77px 14px
      rgba(181, 181, 181, 1);
    box-shadow: 10px 0px 77px 14px rgba(181, 181, 181, 1);
  }

  100% {
    transform: scale(1) translate(0, -15px) skew(2deg, 2deg);
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .hero-gradient {
    background: linear-gradient(
      to bottom,
      rgba($highlight-color, 0.1),
      transparent
    );
  }

  .hero-background {
    img {
      width: 80%;
      height: 200px;
      scale: 1 1;
    }
  }

  .hero {
    height: 470px;
    width: 100%;
    padding-top: 100px;

    &-triangle {
      width: 80%;
      translate: 0 10px;

      &--psych {
        width: 100%;
      }

      &--shapes {
        width: 40%;
        top: 30%;
        left: 50%;
        opacity: 0.5;
      }

      &--bg {
        width: 100%;
        opacity: 0.5;
      }

      &--normal {
        width: 100%;
      }

      .eye {
        img {
          width: 60px;
        }

        &-pupil {
          width: 20px;
          height: 20px;
          translate: 0 15px;
        }
      }
    }

    &-title {
      height: auto;
      width: 100%;
      position: relative;

      h3 {
        font-size: 18px;
        font-weight: 300;
      }
    }

    &-social {
      display: none;
    }

    &-scroll {
      position: relative;
      translate: 0 50px;
    }
  }

  .focus-bg {
    img {
      transform: skew(0deg, 0deg) scale(2);
      transition: transform calc($golden-ratio-time / 8)
        ease-out;
    }
  }
}

@media only screen and (min-device-width: 1920px) and (max-device-width: 3840px) {
  .hero {
    height: 700px;
  }
}
