@import '../../utils/variables';

.hero {
  position: relative;
  width: 100%;
  height: 620px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  padding-top: 120px;
  scroll-snap-align: start;
  z-index: 2;

  &-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 3;

    &--top {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

      p:first-child {
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        color: $shadow-light;
      }

      h1 {
        translate: 0 100%;
        opacity: 0;
      }

      h1:last-child {
        background: -webkit-linear-gradient(
          $highlight-color,
          $primary-color
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: color calc($golden-ratio-time / 8)
          ease-in;

        &:hover {
          color: $highlight-color;
          transition: color calc($golden-ratio-time / 8)
            ease-in;
        }
      }
    }

    &--bottom {
      p {
        font-size: 20px;
        line-height: 35px;
        font-weight: 300;
        font-family: $secondary-font-family;
        margin-top: 1rem;
        opacity: 0;
      }
    }
  }
}

.show-hero {
  animation: fade-in calc($golden-ratio-time) ease-in-out
    forwards;

  .hero {
    &-titles {
      &--top {
        h1 {
          animation: slidey-in-fade calc($golden-ratio-time)
            ease-in-out forwards;
        }
      }

      &--bottom {
        p {
          animation: fade-in calc($golden-ratio-time)
            ease-in-out forwards;
        }
      }
    }
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .hero {
    position: relative;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 50px;

    &-titles {
      height: auto;
      width: 100%;

      h3 {
        font-size: 18px;
        font-weight: 300;
      }
    }
  }
}

/* Larger screens */
@media only screen and (min-device-width: 1920px) and (max-device-width: 3840px) {
  .hero {
    height: 900px;
  }
}

/* Tablets (landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: 'landscape') and (-webkit-min-device-pixel-ratio: 1) {
  .hero {
    height: 600px;
  }
}

/* Tablets (portrait) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: 'portrait') and (-webkit-min-device-pixel-ratio: 1) {
  .hero {
    height: 750px;
  }
}
