@import '../../utils/variables';

.discovery {
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border: 0.5px solid $highlight-color-500;
  border-radius: 0.5rem;
  box-shadow: 0 0 50px 50px $shadow-dark-100;
  background: linear-gradient(
    to right,
    $primary-color,
    $shadow-dark-100
  );
  z-index: 2;

  a {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    cursor: pointer;

    span {
      color: $secondary-color;
      text-transform: uppercase;
      scale: 1;
      transition: all calc($golden-ratio-time / 8)
        ease-in-out;
      font-weight: 400;
      font-size: 0.875rem;
    }

    &:hover {
      svg {
        scale: 1.1;
        transition: scale calc($golden-ratio-time / 8)
          ease-in-out;
      }

      span {
        color: $shadow-light;
        transition: color calc($golden-ratio-time / 8)
          ease-in-out;
      }
    }

    svg {
      scale: 1;
      transition: scale calc($golden-ratio-time / 8)
        ease-in-out;

      path {
        stroke: $highlight-color-500;
        fill: $highlight-color-300;
      }
    }
  }
}

/* Smartphones (portrait & landscape) */
@media only screen and (min-width: 320px) and (max-width: 812px) {
  .discovery {
    width: 100%;
    height: 40px;
  }
}
