@import '../../utils/variables';

.primary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 48px;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  background: $secondary-color;
  color: $primary-color;
  cursor: pointer;
  transition: all calc($golden-ratio-time / 4) ease-in-out;

  &:hover {
    border: 2px solid $highlight-color;
    color: $highlight-color;
    transition: all calc($golden-ratio-time / 4) ease-in-out;
  }

  &:focus,
  &:focus-visible {
    outline-color: $highlight-color;
  }

  &:disabled {
    background: $shadow-dark-900;
    color: $shadow-dark-800;
    border: none;
    cursor: not-allowed;
  }

  &--loader {
    width: 20px;
    height: 20px;
    border: 2px solid $highlight-color-500;
    border-top: 2px solid $highlight-color;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
