@import '../../utils/variables';

.scroll-button {
  height: 75px;
  width: 75px;
  color: $primary-color;
  background: transparent;
  z-index: 4;

  &:hover {
    .scroll-button {
      &--circle {
        scale: 0.8;
        transition: scale calc($golden-ratio-time / 4)
          ease-in-out;
      }

      &--text-path {
        animation: rotate-text calc($golden-ratio-time * 2)
          ease-in-out infinite;
      }
    }
  }

  &--circle {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 100%;
    width: 100%;
    background-color: $secondary-color;
    border-radius: 50%;
    scale: 1;
    transition: scale calc($golden-ratio-time / 4)
      ease-in-out;
  }

  &--text-path {
    width: 100%;
    height: 100%;
    rotate: -360deg;
    transition: rotate calc($golden-ratio-time) ease-in-out;
    z-index: -1;

    svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      path {
        stroke: transparent;
      }

      textPath {
        fill: $secondary-color;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 12px;
        letter-spacing: 4px;
      }
    }

    svg:first-child {
      scale: -3;
    }

    svg:last-child {
      scale: 3;
    }
  }

  &--icon {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    svg {
      path {
        fill: $primary-color;
      }
    }
  }
}

.rotate-scroll {
  animation: rotate-text calc($golden-ratio-time * 2)
    ease-in-out infinite;
}

@keyframes rotate-text {
  0% {
    rotate: -360deg;
  }

  100% {
    rotate: 0deg;
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .hero {
    .scroll-button {
      &--text-path {
        svg:first-child {
          scale: -4.5;
        }

        svg:last-child {
          scale: 4.5;
        }
      }
    }
  }
}
