@import "../../utils/variables";

.secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: auto;
  height: 55px;
  background: none;
  color: $secondary-color;
  cursor: pointer;
  transform: scale(1);
  transition: all calc($golden-ratio-time / 4) ease-in-out;

  svg {
    translate: 0 0;
    transition: all calc($golden-ratio-time / 4) ease-in-out;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    svg {
      translate: 4px 0;
      transition: all calc($golden-ratio-time / 4) ease-in-out;
    }
  }
}
