@import '../../utils/variables';

.secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: auto;
  height: 55px;
  background: none;
  border: none;
  color: $secondary-color;
  cursor: pointer;
  transform: scale(1);
  transition: all calc($golden-ratio-time / 8) ease-in-out;
  padding: 0;

  svg {
    translate: 0 0;
    transition: all calc($golden-ratio-time / 8) ease-in-out;

    path {
      stroke: none;
      fill: $highlight-color;
    }
  }

  &:focus {
    outline: none;
  }
}
