.toggle {
  width: 30px;
  display: none;
  gap: 0.5rem;
  cursor: pointer;
  z-index: 11;

  div {
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: var(--color-bg-surface-secondary);
    border-radius: 4px;
    transition-duration: calc(var(--animation-base-time) / 6);
  }

  div:first-child,
  div:last-child {
    transform: scaleX(0.5);
  }

  div:nth-child(2) {
    transform: scale(1, 1);
  }
}

.clicked {
  div:first-child,
  div:last-child {
    transform: scaleX(0);
  }

  div:nth-child(2) {
    border-radius: 50%;
    transform: scale(0.3, 4);
  }
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
