@import '../../utils/variables';

.toggle {
  width: 40px;
  height: 20px;
  display: none;
  gap: 1rem;

  div {
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: $secondary-color;
    cursor: pointer;
  }

  div:first-child {
    rotate: 0;
    translate: 0 0;
    transition: all calc($golden-ratio-time / 8) ease;
  }

  div:last-child {
    rotate: 0;
    translate: 0 0;
    transition: all calc($golden-ratio-time / 8) ease;
  }
}

.clicked {
  div:first-child {
    rotate: 45deg;
    translate: 0 0;
    transition: all calc($golden-ratio-time / 8) ease;
  }

  div:last-child {
    rotate: -45deg;
    translate: 0 -18px;
    transition: all calc($golden-ratio-time / 8) ease;
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 320px) and (max-width: 812px) {
  .toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
