.logo {
  cursor: pointer;

  svg {
    width: 41px;
    height: 43px;

    path {
      stroke: var(--color-brand-600);
      fill: transparent;
    }

    path:last-child {
      stroke-dasharray: 0;
      filter: brightness(100%);
      stroke: var(--color-brand-600);
    }

    &:hover {
      path:last-child {
        stroke-dasharray: 24;
        stroke: var(--color-brand-300);
      }
    }
  }
}
