@import '../../utils/variables';

.social {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  .link-container {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    a {
      display: flex;

      &:hover {
        svg {
          color: var(--highlight-color);
          opacity: 0.5;
          transition: all calc($golden-ratio-time / 8)
            ease-in-out;
        }
      }
    }

    svg {
      color: var(--secondary-color);
      transition: all calc($golden-ratio-time / 8)
        ease-in-out;
    }
  }
}
