@import '../../utils/variables';

.mouse-follow--bg {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  width: 400px;
  aspect-ratio: 1;
  background: linear-gradient(
    to right,
    $highlight-color,
    $secondary-color
  );
  animation: rotate calc($golden-ratio-time * 8) infinite;
  opacity: 0.3;
  z-index: 1;
}

.mouse-follow--point {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: $highlight-color;
  z-index: 3;
}

@keyframes rotate {
  from {
    filter: blur(100px);
    rotate: 0deg;
  }

  50% {
    filter: blur(200px);
    scale: 1 1.5;
  }

  to {
    filter: blur(100px);
    rotate: 360deg;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .mouse-follow {
    display: none;
  }
}
