@import '../../utils/variables';

header {
  position: fixed;
  width: 100dvw;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 5;
}

.header {
  height: 100px;
  display: none;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  animation: fade-in calc($golden-ratio-time / 2) ease-out
    forwards;

  &-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    cursor: pointer;

    svg {
      width: 41px;
      height: 43px;
      transform: scale(1);
      transition: calc($golden-ratio-time / 8) ease-in;

      path {
        stroke: var(--secondary-color);
        fill: transparent;
      }

      circle,
      rect {
        stroke: rgba(var(--secondary-color-rgb), 1);
        fill: transparent;
      }
    }

    p {
      font-weight: 600;
    }
  }

  &-links {
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .theme {
      margin-right: 2rem;

      svg {
        width: 18px;
        padding: 5px;
        scale: 1;
        transition: all calc($golden-ratio-time / 8) ease-in;
      }

      svg:hover {
        scale: 1;
        transition: all calc($golden-ratio-time / 8) ease-in;
      }
    }

    &--item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      transition: all calc($golden-ratio-time / 8) ease-in;
      cursor: pointer;

      &-text {
        position: relative;

        span {
          display: inline-block;
          transition: all calc($golden-ratio-time / 8)
            ease-in-out;
        }

        span:first-child {
          transform: translateY(0) scaleY(1);
          color: var(--secondary-color);
          transition: all calc($golden-ratio-time / 8)
            ease-in;
        }

        span:last-child {
          position: absolute;
          top: 0;
          left: 0;
          transform: translateY(100%) scaleY(0);
          color: var(--secondary-color);
          transition: all calc($golden-ratio-time / 8)
            ease-in;
        }
      }

      &:hover {
        .header-links--item-text {
          span:first-child {
            color: rgba(
              var(--secondary-color-rgb),
              var(--shades-gray-op-one)
            );
            transform: translateY(0) scaleY(0);
            transition: all calc($golden-ratio-time / 8)
              ease-in;
          }

          span:last-child {
            color: rgba(
              var(--secondary-color-rgb),
              var(--shades-gray-op-one)
            );
            transform: translateY(0) scaleY(1);
            transition: all calc($golden-ratio-time / 8)
              ease-in;
          }
        }
      }
    }
  }
}

.show-header {
  display: flex;
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    position: relative;

    &-logo {
      width: 100px;

      p {
        width: 50%;
        line-height: normal;
      }
    }

    &-links {
      width: 20px;
      translate: 55px 0;

      &--item {
        display: none;
      }

      .theme {
        display: inherit;
      }
    }
  }
}
