header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;
  border-bottom: 1px solid var(--color-border-primary);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  translate: 0 -100%;
  z-index: 5;

  .container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header {
  height: 100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;

    &-links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 6rem;

      &-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        cursor: pointer;

        &-text {
          position: relative;

          span {
            display: inline-block;
          }

          span:first-child {
            transform: translateY(0) scaleY(1);
            color: var(--color-text-primary);
          }

          span:last-child {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(100%) scaleY(0);
            color: var(--color-text-primary);
          }
        }

        &:hover {
          .header-nav-links-item-text {
            span:first-child {
              color: var(--color-text-primary-hover);
              transform: translateY(-100%) scaleY(1);
              animation-timing-function: ease-out;
            }

            span:last-child {
              color: var(--color-text-primary-hover);
              transform: translateY(0) scaleY(1);
              animation-timing-function: ease-in;
            }
          }
        }
      }
    }
  }
}

.show-header {
  animation-name: slidey-in-top;
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
  header {
    border: 1px solid var(--color-border-primary);
    border-top: 0;
  }

  .header {
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .header {
    &-nav {
      gap: 1rem;

      &-links {
        display: none;

        .theme {
          display: inherit;
        }
      }
    }
  }
}
