// fonts

$primary-font-family: "Gilroy", sans-serif;
$secondary-font-family: "Graphik", sans-serif;

// colors

$primary-color: #0f0e0d;
$secondary-color: #ffffff;
$highlight-color: #b66d6d;
$shades-gray: rgba($secondary-color, 0.5);

// sizes - desktop

$heading-one-size: 100px;
$heading-one-letter-spacing: -2px;
$heading-two-size: 25.89px;
$heading-two-letter-spacing: -2px;
$heading-three-size: 1rem;
$heading-three-letter-spacing: 0.25rem;

$paragraph-one-size: 1rem;
$paragraph-two-size: 0.75rem;

// sizes - mobile

$heading-one-size-mobile: 3rem;
$heading-one-letter-spacing-mobile: 0.125rem;
$heading-two-size-mobile: 1.25rem;
$heading-two-letter-spacing-mobile: 0.125rem;
$heading-three-size-mobile: 1rem;
$heading-three-letter-spacing-mobile: 0.125rem;

$paragraph-one-size-mobile: 1rem;
$paragraph-two-size-mobile: 0.875rem;

// animations

$golden-ratio-time: 1.618s;
