@import '../../utils/variables';

.notes {
  &-one,
  &-two,
  &-three {
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      width: 65%;
      text-align: center;
      font-weight: 600;
      opacity: 0;
      z-index: 2;
    }
  }
}

.show-note {
  h3 {
    animation: fade-in calc($golden-ratio-time / 2)
      ease-in-out forwards;
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .notes {
    &-one,
    &-two,
    &-three {
      height: 450px;

      h3 {
        width: 100%;
      }
    }
  }
}
