.notes {
  &-one,
  &-two,
  &-three {
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      width: 65%;
      text-align: center;
      font-weight: 600;
    }
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .notes {
    &-one,
    &-two,
    &-three {
      height: 250px;

      h3 {
        width: 100%;
      }
    }
  }
}
