@import '../../utils/variables';

.notes {
  &-one,
  &-two,
  &-three {
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;

    h3 {
      width: 70%;
      text-align: center;
      font-weight: 600;
      margin: 0;
      opacity: 0;
      z-index: 2;
    }
  }

  &-one {
    position: relative;

    p {
      width: 900px;
      height: 1000px;
      position: absolute;
      top: 0;
      left: 0;
      rotate: 90deg;
      font-size: 200px;
      opacity: 0.1;
    }
  }

  &-two {
    position: relative;

    h3 {
      z-index: -1;
    }
  }

  &-three {
    position: relative;
  }
}

.container {
  position: relative;
}

.show-note {
  h3 {
    animation: fade-in calc($golden-ratio-time / 2)
      ease-in-out forwards;
  }
}

@media only screen and (min-device-width: 1920px) and (max-device-width: 3840px) {
  .notes {
    &-three {
      img {
        scale: 1.5;
      }
    }
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .notes {
    &-one,
    &-two,
    &-three {
      height: 450px;

      h3 {
        width: 100%;
      }
    }

    &-two {
      h3 {
        width: 80%;
      }
    }
  }
}

/* Tablets (portrait) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: 'portrait') and (-webkit-min-device-pixel-ratio: 1) {
  .notes {
    &-one {
      height: 1000px;
    }
  }
}
