@import '../../utils/variables';

.footer {
  position: relative;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0;

  h1 {
    width: 60%;
    text-align: center;
  }

  &-mail {
    position: relative;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    border: 1px solid $highlight-color;
    cursor: pointer;
    z-index: 2;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: all calc($golden-ratio-time / 8) ease-in-out;

    p {
      position: relative;
      width: calc(100% - 75px);
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      scale: 0.8;
      transition: scale calc($golden-ratio-time / 8)
        ease-in-out;
    }

    &:hover {
      > p {
        scale: 0.5;
        opacity: 0.2;
        transition: scale calc($golden-ratio-time / 8)
          ease-in-out;
      }

      .footer-mail--copy {
        scale: 1;
        transition: scale calc($golden-ratio-time / 8)
          ease-in-out;
        z-index: 3;
      }
    }

    &--copy {
      position: absolute;
      top: 0;
      left: 0;
      width: 450px;
      height: 75px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgba($highlight-color, 0.5);
      scale: 0;
      transition: scale calc($golden-ratio-time / 8)
        ease-in-out;
      z-index: 1;

      p {
        color: $primary-color;
        text-transform: none;
      }
    }

    &--icon {
      width: 75px;
      height: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid $highlight-color;
    }
  }

  &-social {
    z-index: 2;

    .social {
      width: 200px;
      flex-direction: row;
      align-items: center;
    }
  }

  &-copyright {
    margin-bottom: 50px;
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .footer {
    padding: 4rem 0 0;
    height: 500px;

    h1 {
      width: 80%;
    }

    &-mail {
      width: 80%;
      height: 50px;

      &--copy {
        width: 100%;
        height: 50px;
      }

      &--icon {
        width: 50px;
        height: 50px;
      }
    }
  }
}
