@import './utils/styles/_variables.scss';
@import './utils/styles/animations.scss';
@import './utils/styles/fonts.scss';
@import './utils/styles/themes.scss';

// * {
//   transition-property: all;
//   transition-timing-function: ease-in-out;
//   transition-duration: calc(var(--animation-base-time) / 6);

//   animation-timing-function: ease-in-out;
//   animation-fill-mode: forwards;
//   animation-duration: calc(var(--animation-base-time) / 6);
// }

*,
*::before,
*::after {
  box-sizing: border-box;
}

.theme-switch {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: calc(var(--animation-base-time) / 6);

  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: calc(var(--animation-base-time) / 6);
}

html,
body,
main,
section,
article,
aside,
nav,
header,
footer,
hgroup,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
a,
abbr,
b,
bdi,
bdo,
br,
cite,
code,
data,
dfn,
em,
i,
kbd,
mark,
q,
rp,
rt,
ruby,
s,
samp,
small,
strong,
sub,
sup,
time,
u,
var,
wbr,
ul,
ol,
li,
dl,
dt,
dd,
form,
fieldset,
legend,
label,
input,
button,
select,
datalist,
optgroup,
option,
textarea,
output,
progress,
meter,
details,
summary,
dialog,
img,
picture,
svg,
video,
audio,
source,
track,
iframe,
canvas,
embed,
object,
param,
table,
caption,
th,
tr,
td,
thead,
tbody,
tfoot,
col,
colgroup {
  @extend .theme-switch;
}

body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  font-family: var(--font-family-secondary);

  img {
    touch-action: pan-y;
  }
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  place-items: center;
  line-height: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
span {
  font-family: var(--font-family–primary);
}

p {
  margin: 0;
}

h1 {
  font-size: var(--text-heading-one-size);
  line-height: var(--text-heading-one-line-height);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}

h2 {
  font-size: var(--text-heading-two-size);
  line-height: var(--text-heading-two-line-height);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}

h3 {
  font-size: var(--text-heading-three-size);
  line-height: var(--text-heading-three-line-height);
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  font-size: var(--text-heading-four-size);
  line-height: var(--text-heading-four-line-height);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

h5 {
  font-size: var(--text-heading-five-size);
  line-height: var(--text-heading-five-line-height);
  margin-top: 0;
  margin-bottom: 0;
}

h6 {
  font-size: var(--text-heading-six-size);
  line-height: var(--text-heading-six-line-height);
  margin-top: 0;
  margin-bottom: 0;
}

p,
span {
  font-size: var(--text-paragraph-size);
  line-height: var(--text-paragraph-line-height);
}

input,
textarea,
input::placeholder,
textarea::placeholder {
  font-size: var(--text-input-size);
  line-height: var(--text-input-line-height);
}

a {
  font-size: var(--text-anchor-size);
  line-height: var(--text-anchor-line-height);
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

button {
  font-size: var(--text-paragraph-size);
  font-weight: 600;
  font-family: inherit;
}

svg {
  color: var(--color-icon-primary);
  width: 20px;
  height: 20px;
}

input,
textarea,
select,
option {
  color: var(--color-text-primary);
  font-size: var(--text-paragraph-size);
  font-weight: 300;
  font-family: inherit;
  border: 1px solid var(--color-border-primary);
  border-radius: var(--size-border-radius-md);
  background: transparent;

  &:hover {
    border-color: var(--color-border-primary-hover);
  }
}

select {
  -webkit-appearance: none;
  appearance: none;
}

textarea {
  padding-top: 1rem;
  padding-left: 1rem;
  box-sizing: border-box;
}

input,
select {
  padding-left: 1rem;
  box-sizing: border-box;
}

input::placeholder,
select::placeholder,
textarea::placeholder,
select::placeholder {
  color: var(--color-text-placeholder);
}

input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible,
select:focus,
select:focus-visible {
  outline-style: solid;
  outline-color: var(--color-border-primary-selected);
}

@media only screen and (min-width: 320px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  h1 {
    font-size: var(--text-heading-one-size-mobile);
    line-height: var(--text-heading-one-line-height-mobile);
  }

  h2 {
    font-size: var(--text-heading-two-size-mobile);
    line-height: var(--text-heading-two-line-height-mobile);
  }

  h3 {
    font-size: var(--text-heading-three-size-mobile);
    line-height: var(--text-heading-three-line-height-mobile);
  }

  h4 {
    font-size: var(--text-heading-four-size-mobile);
    line-height: var(--text-heading-four-line-height-mobile);
  }

  h5 {
    font-size: var(--text-heading-five-size-mobile);
    line-height: var(--text-heading-five-line-height-mobile);
  }

  h6 {
    font-size: var(--text-heading-six-size-mobile);
    line-height: var(--text-heading-six-line-height-mobile);
  }

  a {
    font-size: var(--anchor-size-mobile);
    line-height: var(--anchor-line-height-mobile);
  }

  p {
    margin: 0;
    font-size: var(--text-paragraph-size-mobile);
    line-height: var(--text-paragraph-line-height-mobile);
  }

  input,
  textarea,
  input::placeholder,
  textarea::placeholder {
    font-size: var(--text-input-size-mobile);
    line-height: var(--text-input-line-height-mobile);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  h1 {
    font-size: var(--text-heading-one-size-tablet);
    line-height: var(--text-heading-one-line-height-tablet);
  }

  h2 {
    font-size: var(--text-heading-two-size-tablet);
    line-height: var(--text-heading-two-line-height-tablet);
  }

  h3 {
    font-size: var(--text-heading-three-size-tablet);
    line-height: var(--text-heading-three-line-height-tablet);
  }

  a {
    font-size: var(--anchor-size-table);
    line-height: var(--anchor-line-height-tablet);
  }

  p {
    font-size: var(--text-paragraph-size-tablet);
    line-height: var(--text-paragraph-line-height-tablet);
  }

  input,
  textarea,
  input::placeholder,
  textarea::placeholder {
    font-size: var(--text-input-size-tablet);
    line-height: var(--text-input-line-height-tablet);
  }
}
