// Gilroy

@font-face {
  font-family: 'Gilroy';
  font-weight: 300;
  font-style: normal;
  src: url('../src/assets/fonts/Gilroy-Light.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  font-style: normal;
  src: url('../src/assets/fonts/Gilroy-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 500;
  font-style: normal;
  src: url('../src/assets/fonts/Gilroy-Medium.ttf')
    format('truetype');
}
@font-face {
  font-family: 'Gilroy';
  font-weight: 600;
  font-style: normal;
  src: url('../src/assets/fonts/Gilroy-SemiBold.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 700;
  font-style: normal;
  src: url('../src/assets/fonts/Gilroy-Bold.ttf')
    format('truetype');
}

// Graphik

@font-face {
  font-family: 'Graphik';
  font-weight: 300;
  src: url('../src/assets/fonts/GraphikLight.otf');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 400;
  src: url('../src/assets/fonts/GraphikRegular.otf');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 500;
  src: url('../src/assets/fonts/GraphikMedium.otf');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 600;
  src: url('../src/assets/fonts/GraphikSemibold.otf');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 700;
  src: url('../src/assets/fonts/GraphikBold.otf');
}

@import '../src/utils/variables';

body {
  width: 100dvw;
  height: 100dvh;
  min-width: 320px;
  margin: 0;
  background-color: $primary-color;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  place-items: center;
  line-height: normal;

  font-family: $secondary-font-family;
  color-scheme: light dark;
  color: $secondary-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
a,
span,
button,
a {
  font-family: $primary-font-family;
}

p,
div {
  font-family: $secondary-font-family;
}

h1 {
  font-size: $heading-one-size;
  line-height: $heading-one-line-height;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}

h2 {
  font-size: $heading-two-size;
  line-height: $heading-two-line-height;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}

h3 {
  font-size: $heading-three-size;
  line-height: $heading-three-line-height;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}

p {
  font-size: $paragraph-size;
  line-height: $paragraph-line-height;
}

a {
  font-size: $anchor-size;
  line-height: $anchor-line-height;
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

button {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  font-size: $paragraph-size;
  font-weight: 700;
  font-family: inherit;
  background-color: $secondary-color;
  cursor: pointer;
}

button:hover {
  border-color: none;
}

button:focus,
button:focus-visible {
  outline: none;
}

svg {
  color: $secondary-color;
  width: 20px;
  height: 20px;
}

canvas {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: $secondary-color;
    background-color: rgba($primary-color, 0.87);
  }
}

/* Smartphones (portrait and landscape) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  h1 {
    font-size: $heading-one-size-mobile;
    line-height: $heading-one-line-height-mobile;
  }

  h2 {
    font-size: $heading-two-size-mobile;
    line-height: $heading-two-line-height-mobile;
  }

  h3 {
    font-size: $heading-three-size-mobile;
    line-height: $heading-three-line-height-mobile;
  }

  a {
    font-size: $anchor-size-mobile;
    line-height: $anchor-line-height-mobile;
  }

  p {
    font-size: $paragraph-size-mobile;
    line-height: $paragraph-line-height-mobile;
  }
}

/* Tablets (portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}
