@import '../../utils/variables';

.work {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;

  &-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 100px;

    &--danilo,
    &--namewiz,
    &--art {
      position: relative;
      width: 100%;
      height: 550px;
      overflow: hidden;
      opacity: 0;
      color: $secondary-color;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      border-radius: 0.5rem;
      cursor: pointer;
      z-index: 2;
      perspective: 1000px;
      transform-style: preserve-3d;

      h3 {
        translate: 0px 0px;
        transition: translate calc($golden-ratio-time / 8)
          ease-in-out;
      }

      h3:first-child {
        width: 40%;
        position: absolute;
        top: 50px;
        left: 100px;
      }

      h3 {
        position: absolute;
        bottom: 50px;
        left: 100px;
        font-weight: 600;
      }

      img {
        height: 90%;
        width: auto;
        position: absolute;
        bottom: 0;
        right: 0;
        scale: 1;
        transition: scale calc($golden-ratio-time / 8)
          ease-in-out;
      }

      button {
        position: absolute;
        top: 0;
        left: 0;
        width: 120px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: $secondary-color;
        color: $highlight-color;
        scale: 0;
        translate: -50% -50%;
        font-weight: 300;
        z-index: 6;
      }

      &:hover {
        img {
          scale: 1.05;
          transition: scale calc($golden-ratio-time / 4)
            ease-in-out;
        }

        h3:first-child {
          translate: 1rem 1rem;
          transition: translate calc($golden-ratio-time / 4)
            ease-in-out;
        }

        h3 {
          translate: 1rem -1rem;
          transition: translate calc($golden-ratio-time / 4)
            ease-in-out;
        }
      }
    }

    &--danilo {
      background: linear-gradient(
        to right,
        rgb(83, 48, 44),
        $primary-color
      );
    }

    &--namewiz {
      background: linear-gradient(
        to right,
        rgb(103, 120, 116),
        $primary-color
      );

      img {
        height: 80%;
      }
    }

    &--art {
      background: linear-gradient(
        to right,
        rgba(rgb(35, 21, 33), 0.4),
        $primary-color
      );

      img {
        scale: 1.2;
        opacity: 0.6;
        translate: -50px 60px;
        filter: saturate(1);
        transition: all calc($golden-ratio-time / 4)
          ease-in-out;
      }

      &:hover {
        img {
          scale: 1.4;
          filter: saturate(1.5);
          transition: all calc($golden-ratio-time / 4)
            ease-in-out;
        }
      }
    }
  }
}

.show-work-card {
  animation: fade-in calc($golden-ratio-time / 4) ease-in
    forwards;
}

.show-card-cta {
  animation: scale-in calc($golden-ratio-time / 8) ease-in
    forwards;
}

.hide-card-cta {
  animation: scale-out calc($golden-ratio-time / 8) ease-out
    forwards;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .work {
    width: 100%;
    &-list {
      width: 100%;

      &--danilo,
      &--namewiz,
      &--art {
        height: 400px;
        width: 100%;

        h3 {
          font-size: 30px;
          translate: 0px 0px;
          transition: translate calc($golden-ratio-time / 8)
            ease-in-out;
        }

        h3:first-child {
          font-size: 30px;
          width: 75%;
          position: absolute;
          top: 50px;
          left: 50px;
        }

        h3 {
          font-size: 20px;
          position: absolute;
          bottom: 50px;
          left: 50px;
          font-weight: 600;
          z-index: 3;
        }

        img {
          height: 50%;
        }

        &:hover {
          h3:first-child {
            translate: 5px 5px;
            transition: translate
              calc($golden-ratio-time / 8) ease-in-out;
          }

          h3 {
            translate: 5px -5px;
            transition: translate
              calc($golden-ratio-time / 8) ease-in-out;
          }
        }
      }

      &--danilo {
        img {
          opacity: 0.8;
        }
      }

      &--namewiz {
        img {
          height: 40%;
          opacity: 0.8;
        }
      }

      &--art {
        img {
          translate: -30px 60px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .work {
    width: 100%;

    &-list {
      &--danilo,
      &--namewiz,
      &--art {
        height: 640px;

        h3:first-child {
          top: 100px;
        }

        h3 {
          bottom: 100px;
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: 'portrait') and (-webkit-min-device-pixel-ratio: 1) {
  .work {
    &-list {
      &--danilo,
      &--namewiz,
      &--art {
        width: 100%;

        img {
          height: 400px;
          z-index: -1;
        }

        h2 {
          width: 100%;
        }
      }
    }
  }
}
