.work {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;

  &-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr; /* Two equal-width columns */
    grid-template-rows: auto auto auto; /* Three rows */
    gap: 100px;

    &--card {
      position: relative;
      width: 100%;
      height: 640px;
      padding: 5rem;
      overflow: hidden;
      opacity: 0;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      border: 1px solid var(--color-border-primary);
      border-radius: var(--size-border-radius-lg);
      filter: #{'saturate(var(--color-neutral-saturation))'};
      cursor: pointer;
      z-index: 2;

      &-text {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
          translate: 0px 0px;
        }

        h3:first-child {
          width: 40%;
        }

        h3:last-child {
          font-weight: 300;
        }
      }

      img {
        height: 100%;
        width: auto;
        position: absolute;
        bottom: 0;
        right: 0;
        scale: 1;
      }

      &:hover {
        img {
          scale: 1.05;
        }

        h3:first-child {
          translate: 1rem 1rem;
        }

        h3 {
          translate: 1rem -1rem;
        }
      }
    }

    .art {
      background: linear-gradient(to right, var(--color-neutral-100), var(--color-neutral-50));

      img {
        scale: 1;
        translate: -50px 60px;
      }

      &:hover {
        img {
          scale: 1.2;
        }
      }
    }

    .danilo {
      background: linear-gradient(to right, var(--color-neutral-100), var(--color-neutral-50));
    }

    .namewiz {
      background: linear-gradient(to right, var(--color-neutral-100), var(--color-neutral-50));

      img {
        height: 80%;
      }
    }

    .vir {
      background: linear-gradient(to right, var(--color-neutral-100), var(--color-neutral-50));

      h3 {
        color: var(--color-text-invert);
      }

      img {
        height: 80%;
      }
    }
  }
}

.show-work-card {
  animation-name: fade-in;
}

.show-card-cta {
  animation-name: scale-in;
}

.hide-card-cta {
  animation-name: scale-out;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .work {
    width: 100%;
    &-list {
      width: 100%;
      gap: 3rem;

      &--card {
        height: 400px;
        width: 100%;
        padding: 3rem;

        h3 {
          font-size: 30px;
          translate: 0px 0px;
        }

        h3:first-child {
          font-size: 30px;
          width: 75%;
        }

        h3 {
          z-index: 3;
        }

        img {
          height: 50%;
        }

        &:hover {
          h3:first-child {
            translate: 5px 5px;
          }

          h3 {
            translate: 5px -5px;
          }
        }
      }

      .danilo {
        img {
          opacity: 0.8;
        }
      }

      .namewiz {
        img {
          height: 40%;
          opacity: 0.8;
        }
      }

      .art {
        img {
          translate: -30px 60px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .work {
    width: 100%;

    &-list {
      .danilo,
      .namewiz,
      .art {
        height: 640px;
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: 'portrait') and (-webkit-min-device-pixel-ratio: 1) {
  .work {
    &-list {
      .danilo,
      .namewiz,
      .art {
        width: 100%;

        img {
          height: 400px;
          z-index: -1;
        }

        h2 {
          width: 100%;
        }
      }
    }
  }
}
