@import '../../utils/variables';

.work {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 8rem;
  color: var(--primary-color);

  > h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 2rem;
    scale: 0 1;
  }

  &-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;

    &--danilo,
    &--namewiz,
    &--art {
      position: relative;
      width: 100%;
      height: 550px;
      z-index: 2;
      cursor: pointer;
      overflow: hidden;
      opacity: 0;
      color: var(--secondary-color);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

      h2,
      h3 {
        translate: 0px 0px;
        transition: translate calc($golden-ratio-time / 8)
          ease-in-out;
      }

      h2 {
        width: 40%;
        position: absolute;
        top: 50px;
        left: 100px;
      }

      h3 {
        position: absolute;
        bottom: 50px;
        left: 100px;
        font-weight: 600;
      }

      img {
        height: 90%;
        width: auto;
        position: absolute;
        bottom: 0;
        right: 0;
        scale: 1;
        transition: scale calc($golden-ratio-time / 8)
          ease-in-out;
      }

      button {
        position: absolute;
        top: 0;
        left: 0;
        width: 120px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--secondary-color);
        color: var(--highlight-color);
        scale: 0;
        translate: -50% -50%;
        font-weight: 300;
        z-index: 6;
      }

      &:hover {
        img {
          scale: 1.1;
          transition: scale calc($golden-ratio-time / 8)
            ease-in-out;
        }

        h2 {
          translate: 20px 20px;
          transition: translate calc($golden-ratio-time / 8)
            ease-in-out;
        }

        h3 {
          translate: 20px -20px;
          transition: translate calc($golden-ratio-time / 8)
            ease-in-out;
        }
      }
    }

    &--namewiz {
      img {
        height: 80%;
      }
    }

    &--art {
      img {
        scale: 1.2;
        opacity: 0.6;
        translate: -50px 60px;
        filter: saturate(1);
        transition: all calc($golden-ratio-time / 4)
          ease-in-out;
      }

      &:hover {
        img {
          scale: 1.4;
          filter: saturate(1.5);
          transition: all calc($golden-ratio-time / 4)
            ease-in-out;
        }
      }
    }
  }
}

.show-work-card {
  animation: fade-in calc($golden-ratio-time / 4) ease-in
    forwards;
}

.show-card-cta {
  animation: scale-in calc($golden-ratio-time / 8) ease-in
    forwards;
}

.hide-card-cta {
  animation: scale-out calc($golden-ratio-time / 8) ease-out
    forwards;
}

.danilo-dark,
.namewiz-dark,
.art-dark {
  color: var(--secondary-color);
}

.danilo-dark {
  background: linear-gradient(
    to right,
    rgb(83, 48, 44),
    var(--primary-color)
  );
}

.namewiz-dark {
  background: linear-gradient(
    to right,
    rgb(103, 120, 116),
    var(--primary-color)
  );
}

.art-dark {
  background: linear-gradient(
    to right,
    rgba(rgb(35, 21, 33), 0.4),
    var(--primary-color)
  );
}

.danilo-light {
  background: rgba(rgb(83, 48, 44), 0.95);
}

.namewiz-light {
  background: rgba(rgb(103, 120, 116), 0.7);
}

.art-light {
  background: rgba(rgb(35, 21, 33), 0.9);
}

.danilo-light,
.namewiz-light,
.art-light {
  color: var(--primary-color);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .work {
    width: 100%;
    height: fit-content;
    margin: 4rem 0;

    &-list {
      width: 100%;
      gap: 4rem;

      &--danilo,
      &--namewiz,
      &--art {
        height: 400px;

        h2,
        h3 {
          translate: 0px 0px;
          transition: translate calc($golden-ratio-time / 8)
            ease-in-out;
        }

        h2 {
          width: 80%;
          position: absolute;
          top: 50px;
          left: 50px;
        }

        h3 {
          position: absolute;
          bottom: 50px;
          left: 50px;
          font-weight: 600;
          z-index: 3;
        }

        img {
          height: 70%;
        }

        &:hover {
          h2 {
            translate: 5px 5px;
            transition: translate
              calc($golden-ratio-time / 8) ease-in-out;
          }

          h3 {
            translate: 5px -5px;
            transition: translate
              calc($golden-ratio-time / 8) ease-in-out;
          }
        }
      }

      &--danilo {
        img {
          opacity: 0.8;
        }
      }

      &--namewiz {
        img {
          height: 60%;
          opacity: 0.7;
        }
      }

      &--art {
        img {
          translate: -30px 60px;
        }
      }
    }
  }
}
